*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(29, 26, 26);
}

body {
  background-color: rgb(29, 26, 26);
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  color: transparent;
}

.navbar-brand {
  color: white;
}

.redes {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  gap: 0.3rem;
}

.iconos {
  display: flex;
  gap: 0.3rem;
}

/* header-desktop */
@media (min-width: 1200px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin-right: 5px;
  }

  .nav-link {
    margin: 0;
    padding: 0;
  }

  .redes {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    gap: 0.1rem;
  }

  .iconos {
    gap: 0.5rem;
  }
}

/* index-mobile */
.portada {
  width: 100vw;
  position: relative;
}

h1 {
  color: gray;
  font-size: 1.3rem;
  font-weight: 200;
  animation: titulo 4s 2s ease-in-out 1 forwards;
  margin-left: 0.5rem;
  position: absolute;
  top: 20%;
}

@keyframes titulo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    color:peru;
    letter-spacing: 1px;
  }
}

/* Seccion musica */

.musica {
  position: relative;
  margin-top: 1rem;
  width: 90vw;
  overflow: hidden;
  padding-top: 1rem;
  
}

.musica::before,
.musica::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.507);
  transition: width 2s 3s ease-in-out, height 2s 3s ease-in-out;
  width: 0;
  height: 0;
}

.musica::before {
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
}

.musica::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
}

.musica-visible-top::before {
  width: 100%;
}

.border-visible-left::after {
  height: 100%;
}

.musica-titulo {
  color: rgba(255, 255, 255, 0.795);
  /*  rgb(46, 5, 46); */
  position: absolute;
  font-weight: 400;
  font-size: 1.3rem;
  top: 04%;
  left: 12%;
  letter-spacing: 1px;
}

.musica-titulo::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.507);
  width: 12px;
  height: 100%;
  position: absolute;
  right: calc(95% + 1rem);
  top: 0;
}

.musica-titulo::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.507);
  width: 190px;
  height: 100%;
  position: absolute;
  left: calc(90% + 1rem);
  top: 0;
}

.spotify {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.suite {
  display: flex;
  justify-content: center;
  width: 85vw;
}

.piano {
  display: flex;
  justify-content: center;
  width: 85vw;
}

/* SECCION VIDEOS */

.videos {
  margin-top: 1rem;
  width: 90vw;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
}

.videos::before,
.videos::after {
  content: "";
  position: absolute;
  background-color: rgba(245, 245, 245, 0.438);
  /* rgba(194, 82, 194, 0.404) */
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.videos::before {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.videos::after {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
}

.border-visible-top::before {
  width: 100%;
}

.border-visible-left::after {
  height: 100%;
}

.videos-titulo {
  color: black;
  /* rgb(46, 5, 46); */
  position: absolute;
  font-weight: 400;
  font-size: 1.3rem;
  top: 04%;
  left: 12%;
  letter-spacing: 1px;
}

.videos-titulo::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.219);
  /* rgba(194, 82, 194, 0.404); */
  width: 12px;
  height: 100%;
  position: absolute;
  right: calc(95% + 1rem);
  top: 0;
}

.videos-titulo::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.219);
  /* rgba(194, 82, 194, 0.404); */
  width: 190px;
  height: 100%;
  position: absolute;
  left: calc(90% + 1rem);
}
.carousel {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 20%;
  top: 50%;
  transform: translateY(-50%);
}

/* SECCION BIO */

.bio {
  margin-top: 1rem;
  width: 90vw;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.bio::before,
.bio::after {
  content: "";
  position: absolute;
  background-color:peru; /* rgba(172, 255, 47, 0.295); */
 
  transition: width 1s ease-in-out, height 1s ease-in-out;
  width: 0;
  height: 0;
}

.bio::before {
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
}

.bio::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
}

.border-visible-top::before {
  width: 100%;
}

.border-visible-left::after {
  height: 100%;
}


.bio-titulo {
  color:peru ;/* rgba(172, 255, 47, 0.473); */
  position: absolute;
  font-weight: 400;
  font-size: 1.3rem;
  top: 2%;
  left: 12%;
  letter-spacing: 1px;
}

.bio-titulo::before {
  content: "";
  background-color: rgba(205, 134, 63, 0.845);/*  rgba(172, 255, 47, 0.295); */
  width: 13px;
  height: 100%;
  position: absolute;
  right: calc(95% + 1rem);
  top: 0;
}

.bio-titulo::after {
  content: "";
  background-color : rgba(205, 134, 63, 0.845);/*  rgba(172, 255, 47, 0.295); */
  /*  rgba(172, 255, 47, 0.295); */
  width:240px;
  height: 100%; 
  position: absolute;
  left: calc(90% +1rem);
 top: 0;
}

.bio-parrafo {
  margin-top: 1.1rem;
  color:#d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* SECCION AGENDA */

.agenda-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(49, 47, 47);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(26, 24, 24);


}

.agenda-lista h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #d4d4d4;
  margin-bottom: 1rem
}

.agenda-titulo {
  text-align: center;
  justify-content: center;
  margin-bottom: .5rem;
  color: #d4d4d4;
}

#eventos {
  padding-left: 0px;
}

#eventos li {
  background: #d4d4d4;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  gap: .3rem;
}

#eventos li:not(:last-child) {
  margin-bottom: 15px;
}

#eventos li:hover {
  background:peru;
  color: white;
}

.view-more-btn {
  background-color: rgb(49, 47, 47);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.view-more-btn:hover {
  background-color: black;
}

.event-details {
  margin-top: 10px;
}

.location-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.location-map {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.location-map:hover {
  text-decoration: underline;
  color: white;
}

/* SECCION BIO */

.contacto {
  margin-top: 1rem;
  width: 90vw;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.contacto::before,
.contacto::after {
  content: "";
  position: absolute;
  background-color: peru;
  /*  rgba(194, 82, 194, 0.404); */
  transition: width 1s ease-in-out, height 1s ease-in-out;
  width: 0;
  height: 0;
}

.contacto::before {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.contacto::after {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
}

.border-visible-top::before {
  width: 100%;
}

.border-visible-left::after {
  height: 100%;
}


.contacto-redes{
  color: peru;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: .5rem;

}
.redes-contacto {
 gap: 1.5rem;
 display: flex;
 justify-content:center;
 align-items: center;
flex-direction: row;
margin-top: .5rem;
}
.contacto-redes:hover{
  color:  rgba(205, 134, 63, 0.676);
}
.contacto-parrafo{
  color: peru;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: .5rem;
  gap: .3rem;
  margin-left: .6rem;
}

.img-container{
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.contacto-titulo {
  color: peru;
  position: absolute;
  font-weight: 400;
  font-size: 1.3rem;
  top: 8%;
  left: 12%;
  letter-spacing: 1px;
}

.contacto-titulo::before {
  content: "";
  background-color: peru;
  width: 15px;
  height: 100%;
  position: absolute;
  right: calc(95% + 1rem); /* Ajusta según sea necesario */
  top: 0;
}

.contacto-titulo::after {
  content: "";
  background-color: peru;
  width: 165px;
  height: 100%;
  position: absolute;
  left: calc(90% + 1rem);
  top: 0;
}

.contacto {
  margin-top: 1rem;
  width: 90vw;
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.contacto::before,
.contacto::after {
  content: "";
  position: absolute;
  background-color: peru;

  transition: width 1s ease-in-out, height 1s ease-in-out;
  width: 0;
  height: 0;
}

.contacto::before {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.contacto::after {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
}

.border-visible-top::before {
  width: 100%;
}

.border-visible-left::after {
  height: 100%;
}


.contacto-redes{
  color: peru;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: .5rem;

}
.redes-contacto {
 gap: 1.5rem;
 display: flex;
 justify-content:center;
 align-items: center;
flex-direction: row;
margin-top: .5rem;
}
.contacto-redes:hover{
  color:  rgba(205, 134, 63, 0.676);
}
.contacto-parrafo{
  color: peru;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: .5rem;
  gap: .3rem;
  margin-left: .6rem;
}

.img-container{
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.contacto-titulo {
  color: peru;
  position: absolute;
  font-weight: 400;
  font-size: 1.3rem;
  top: 8%;
  left: 12%;
  letter-spacing: 1px;
}

.contacto-titulo::before {
  content: "";
  background-color: peru;
  width: 15px;
  height: 100%;
  position: absolute;
  right: calc(95% + 1rem); /* Ajusta según sea necesario */
  top: 0;
}

.contacto-titulo::after {
  content: "";
  background-color: peru;
  width: 165px;
  height: 100%;
  position: absolute;
  left: calc(90% + 1rem);
  top: 0;
}
/* 
.contacto-formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:rgb(29, 26, 26);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(26, 24, 24);


}

label { 
display: block;
margin-bottom: 5px; 
background-color:rgb(29, 26, 26);
color: peru;
}

textarea{
 display: flex;
 width:296px;
 padding: .3rem;
margin-bottom: .5rem;
background-color:rgb(29, 26, 26);
color: peru;
border: 1px solid peru;

}

input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid peru;
border-radius: 4px;
background-color: rgb(29, 26, 26);
color: peru;
}

button {
display: inline-block;
padding: 10px 20px;
background-color:peru;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover{
 background-color:rgba(205, 134, 63, 0.676);
}
.saludo{
  color: peru;
  display: none;
 */
 





