*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;

}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgb(29, 26, 26);
}

body {
    background-color: rgb(29, 26, 26);
    padding-top: 24px;

}

/* .logo {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-left: .3rem;
} */
/* header-mobile */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    color: transparent;
}

.navbar-brand {
    color: white;
}

.redes {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    gap: .3rem;

}

.iconos {
    display: flex;
    gap: .3rem;
}

/* header-desktop */
@media (min-width: 1200px) {

    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin-right: 5px;
    }

    .nav-link {
        margin: 0;
        padding: 0;
    }

    .redes {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0;
        gap: .1rem;

    }

    .iconos {
        gap: .5rem;
    }
}



/* index-mobile */
.portada {
    width: 100vw;
    margin-top: 2rem;
    position: relative;
}

h1 {
    color: gray;
    font-size: 1.3rem;
    font-weight: 200;
    animation: titulo 4s 2s ease-in-out 1 forwards;
    margin-left: .5rem;
    position: absolute;
    top: 20%;

}

@keyframes titulo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        color: violet;
        letter-spacing: 1px;
    }
}

.musica {
    position: relative;
    margin-top: 1rem;
    width: 90vw;
    border-top: 1px solid rgba(194, 82, 194, 0.404);
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;

}

.musica-titulo {
    color: rgb(46, 5, 46);
    position: absolute;
    font-weight: 400;
    font-size: 1.3rem;
    top: 04%;
    left: 12%;
    letter-spacing: 1px;
}

.musica-titulo::before {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);

    width: 12px;
    height: 100%;

    position: absolute;

    right: calc(95% + 1rem);
    top: 0;

}

.musica-titulo::after {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);
    width: 190px;
    height: 100%;

    position: absolute;

    left: calc(80% + 1rem);
    top: 0;

}

.spotify {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 90%;
     margin-left: .4rem; */
    margin-top: .5rem;

}

.suite {
    display: flex;
    justify-content: center;
    width: 85vw;
}

.piano {
    display: flex;
    justify-content: center;
    width: 85vw;

}

.suite:hover {
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.329);
    border-radius: 12px;

}

.piano:hover {
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.329);
    border-radius: 12px;
}

.videos {
    margin-top: 1rem;
    width: 90vw;
    position: relative;
    overflow: hidden;
    padding-top: .5rem;
}

.videos::before,
.videos::after {
    content: '';
    position: absolute;
    background-color: rgba(194, 82, 194, 0.404);
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

.videos::before {
    top: 0;
    right: 0;
    width: 0;
    height: 1px;

}

.videos::after {
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;

}
.videos:hover::before {
    width: 100%;
    
}

.videos:hover::after {
    height: 100%;
   
}

.videos-titulo {
    color: rgb(46, 5, 46);
    position: absolute;
    font-weight: 400;
    font-size: 1.3rem;
    top: 04%;
    left: 12%;
    letter-spacing: 1px;
}

.videos-titulo::before {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);

    width: 12px;
    height: 100%;

    position: absolute;

    right: calc(95% + 1rem);
    top: 0;

}

.videos-titulo::after {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);
    width: 190px;
    height: 100%;

    position: absolute;

    left: calc(80% + 1rem);
    top: 0;

}

.carousel {
    margin-top: .5rem;
    padding: .5rem;



}

/* .carousel-inner:hover {
    box-shadow: 0px 3px 15px 3px rgba(194, 82, 194, 0.404);
    border-radius: 12px;

} */

.carousel-control-prev,
.carousel-control-next {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.bio {
    margin-top: 1rem;
    width: 90vw;
    position: relative;
    overflow: hidden;
    padding-top: .5rem;
}

.bio::before,
.bio::after {
    content: '';
    position: absolute;
    background-color: rgba(194, 82, 194, 0.404);
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

.bio::before {
    top: 0;
    right: 0;
    width: 0;
    height: 1px;

}

.bio::after {
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;

}
.bio:hover::before {
    width: 100%;
    
}

.bio:hover::after {
    height: 100%;
   
}

.bio-titulo {
    color: rgb(82, 16, 82);
    position: absolute;
    font-weight: 400;
    font-size: 1.3rem;
    top: 2%;
    left: 12%;
    letter-spacing: 1px;
}

.bio-titulo::before {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);

    width: 12px;
    height: 100%;

    position: absolute;

    right: calc(95% + 1rem);
    top: 0;

}

.bio-titulo::after {
    content: "";
    background-color: rgba(194, 82, 194, 0.404);
    width: 225px;
    height: 100%;

    position: absolute;

    left: calc(80% + 1rem);
    top: 0;

}
.bio-parrafo{
    margin-top:1.1rem;
    color: rgb(121, 42, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}